<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <video id="video" width="600" height="450" preload autoplay loop muted controls></video>

    <script type="text/javascript" src="js/phaser.min.js"></script>
    <script type="text/javascript" src="js/tracking-min.js"></script>
    <script type="text/javascript" src="js/virtual-lab.min.js"></script>
  </body>
</html>
