<!DOCTYPE html>
<html>
	
	<head>
		<title>Llenado emergencia</title>
	</head>
	
	<body ng-app="em">

	
 

	<div ng-controller="emCtrl">
		<label>Name</label><input type="text" ng-model="c.name"><br />
		<label>Componentes</label><input type="text" ng-model="c.comp"><br />
		<label>Description</label><textarea ng-model="c.description"></textarea><br />
		<input type="file" id="file" onchange="angular.element(this).scope().fileNameChanged(this)">

		<button ng-click="save()">Guardar compuesto</button>
	<button>Dame otro copmuesto</button>
	</div>

	
		

		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/emergency.app.js"></script>
	</body>
</html>